.hidden {
  display: none !important;
}

.container-background {
  width: 100%;
  padding-left: 286px;
}

.nav-container {
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif, sans;
}

.container {
  max-width: 693px;
  margin: 0 auto;
  font-family: sans-serif, sans;
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  width: 100%;
  display: flex;
  flex-direction: column;
}
